{% extends 'base.html.twig' %}

{% block main %}
<div class="top-cart">
    <h1>Panier</h1>
    <hr>
     {# Article par défaut avant d'ajouter methode pour ajout de produit #}
     <div class="product-default">
    {# Dans le Controller #}
    {# ajouter methode avec render pour renvoyer l'IMG, le nom et le prix de l'article #}
     <div>
        <img class="img-product" src=""/>
     </div>
     <div>
        <p>CHAUSSETTE POUSSIN</p>
        <p>9,99E</p>
        <input type="number" id="nbre" name="nbre" min="0" max="100" />
        {# rendre le panier cliquable pour remove l'article #}
        <img class="icon-trash"  src="../img/icons/poubelle_panier_chaussetto.png"/>
     <div>
     
     
     

     </div>    
    <a href=" {{ path('app_index') }}"><button>Continuer mes achats</button></a>
</div>
<div class="bottom-cart">
    <table>
            <thead>
                    <tr>
                        <th>Article(s)</th>
                        {# Dans le Controller #}
                        {# ajouter methode avec render pour renvoyer le prix de l'article #}
                        <td>9,99E (prix de l'article)</td>
                    </tr>
                    <tr>
                        <th>Livraison</th>
                         {# ajouter methode avec render pour renvoyer le prix de la livraison #}
                        <td>4,50E (prix de la livraison)</td>
                    </tr>
            </thead>
                
        </table>
</div>    
<div class="total-cart">
    <table>
            <thead>
                    <tr>
                        <th>Total TTC </th>
                         {# ajouter methode avec render pour renvoyer le prix total #}
                        <td>14,40E (prix total de la vente)</td>
                    </tr>
            </thead>            
    </table>
</div>
<div>
   <a href=""><button>COMMANDER</button></a>
</div>    

{% endblock %}

{% block footer %}{% endblock %}