@font-face {
  font-family: InriaSans-Light;
  src: url(../fonts/Inria_Sans/InriaSans-Regular.ttf);
}

@font-face {
  font-family: InriaSerif-Bold;
  src: url(../fonts/Inria_Serif/InriaSerif-Bold.ttf);
}

@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");

body {
  margin: 0;
}

.flash-message {
  top: 0;
  margin-left: 0;
  width: 70%;
}

@media screen and (min-width: 1300px) {
  .emplacement {
    margin-left: 20% !important;
  }

  .info_h {
    color: #000;
    font-family: InriaSerif-Bold;
    font-size: 0.875rem;
    text-transform: uppercase;
  }

  .info_h hr {
    width: 54.06rem;
    margin-left: 0;
    border-color: black;
  }
}

/* Styles pour les écrans de petite taille (tablette) */
@media screen and (max-width: 1300px) {
}

/* Styles pour les écrans de petite taille (mobile) */
@media screen and (max-width: 480px) {
}
