
  @import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");
  
  body {
    margin: 0;
  }
  
  @media screen and (min-width: 1300px) {
  
  
    .info_page_staff {
      margin-top: 8%;
    }
  
    .title_staff {
      color: #000;
      
      font-size: 0.875rem;
      text-transform: uppercase;
    }
  
    .info_hr {
      border-color: black;
      width: 66.0625rem;
      height: 0.0625rem;
    }
  }