{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    {% if contactForm is defined %}
    <div class="formulaire">
        {{ form(contactForm) }}
    </div>
    {% else %}
        Formulaire indéfini
    {% endif %}
{% endblock %}