{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block main %}

    <section class="landing">
        <div class="imageDeFond">
            <h1>CHAUSSETTO</h1>
            <hr>
            <H2>LES CRAVATES POUR LES PIEDS</H2>
        </div>
    </section>
<div class="banner_index">
    <p>DÉCOUVREZ UN MONDE OÙ LE STYLE ET LE CONFORT SE RENCONTRENT</p>
</div>



{% for product in products %}
<div class="display-products">
    <h2>NOS CHAUSSETTES ORIGINALES</h2>
    <hr>
</div>
<div class="container">
  <div id="slider">
    <div class="slide">
      <img src="" alt="">
      <div class="wrapInfoPost">
        <h3>{{ product.name }} </h3>
        <p>{{ product.price }}€</p>
      </div>
        <a href=""><button>Ajouter au panier</button></a>
    </div>
</div>
{% endfor %}




    {{ block("endpage", "endpage.html.twig") }}



{% endblock %}






