{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}

<div class="landing">
    <h1>CHAUSSETTO</h1>
    <hr>
    <H2>LES CRAVATES POUR LES PIEDS</H2>
</div>
<div class="banner">
    <p>DÉCOUVREZ UN MONDE OÙ LE STYLE ET LE CONFORT SE RENCONTRENT</p>
</div>
<div class="display-products">
    <h2>NOS CHAUSSETTES ORIGINALES</h2>
<<<<<<< HEAD
    <div>
<figure>
            <img/>
            <figcaption>chaussettes poussin</figcaption>
=======
    <hr>
    <div class="product_rectangle">
        <figure>
                        <figcaption>chaussettes poussin</figcaption>
            <figcaption> 9.99€ </figcaption>
            <img
            class="fit-picture"
            src="../img/mobile/chaussette_poussin_originale.png"
            alt="chaussette poussin originale" />            
>>>>>>> ad0ab4eef3651eba0a26d52562ca35b3b7e98081
        </figure>
        <a href=""><button>Ajouter au panier</button></a>
    </div>

</div>

<div class="display-products">
    <h2>NOS CHAUSSETTES BASIQUES</h2>
<hr>

</div>

{{ block("endpage", "endpage.html.twig") }}




{% endblock %}
