{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block main %}

<div class="landing">
    <h1>CHAUSSETTO</h1>
    <hr>
    <H2>LES CRAVATES POUR LES PIEDS</H2>
</div>
<div class="banner">
    <p>DÉCOUVREZ UN MONDE OÙ LE STYLE ET LE CONFORT SE RENCONTRENT</p>
</div>
<div class="display-products">
    <h2>NOS CHAUSSETTES ORIGINALES</h2>
    <hr>
    <div class="product_rectangle">
        <figure>
            <figcaption>chaussettes poussin</figcaption>
            <figcaption> 9.99€ </figcaption>
            <img
            class="fit-picture"
            src="../img/mobile/chaussette_poussin_originale.png"
            alt="chaussette poussin originale" />            
        </figure>
        <a href=""><button>Ajouter au panier</button></a>
    </div>


    {{ block("endpage", "endpage.html.twig") }}



{% endblock %}






