{% extends 'base.html.twig' %}

{% block main %}
    <h2>Bienvenue, {{ customer.name }}!</h2>
    <a href="">Informations Personnelles</a>
    <a href="">Mes Commandes</a>
    <a href=" {{ path('app_logout') }}">Déconnexion</a><br>
{% endblock %}
