{% extends 'base.html.twig' %}

{% block additionalStyles %}
	<link href="{{ asset('./styles/signup.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}Inscription
{% endblock %}

{% block main %}

	<div class="titre_form">
		<h1>
			Créez votre compte
		</h1>
	</div>

	<section id="connexion">
		<div>
			<a href="{{ path('app_login') }}">
				<p>
					Vous avez déjà un compte ?
					Connectez -vous !
				</p>
			</a>
		</div>
	</section>

	<section class="formulaire">
		{% if form is defined %}
			
			{{ form(form) }}
				
			{% else %}
				Formulaire indéfini
			{% endif %}

		</section>
	{% endblock %}
