{% extends 'admin/dashboard.html.twig' %}

{% block additionalStyles %}
	<link href="{{ asset('styles/back-office/login.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}Connectez-vous
{% endblock %}
{% block header %}{% endblock %}

{% block main %}
	<section class="admin_connection">
		<h1 class="admin_co">Connectez-vous</h1>

		<form method="post" class="form_admin">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<label for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder='example@mail.com' required autofocus>
			<label for="inputPassword">Mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder='Mot de passe' required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="" type="submit">
				Connexion
			</button>
		</form>
	</section>
{% endblock %}
