{% extends 'admin/dashboard.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}
{% block additionalStyles %}
	<link href="{{ asset('styles/back-office/tax.css') }}" rel="stylesheet"/>
{% endblock %}

{% block main %}
<section class="emplacement">
<div class="info_page_tax">
		<h2 class="title_tax">
		{{ title }}
	</h2>
	<hr class="info_hr">
		</div>
{{form(form)}}
</section>



{% endblock %}
