{% extends 'admin/dashboard.html.twig' %}

{% block main %}
  <h1>{{ title }}</h1>
  {% if form is defined %}
    {{ form(form) }}
  {% else %}
    Formulaire indéfini
  {% endif %}
  <a href="{{ path('app_list_promotion') }}">Retour</a>
{% endblock %}
