@media screen and (min-width: 1300px) {
    .banner_index p{
        color: #000;
        text-align: center;
        font-family: InriaSans-Light;
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
      }
      
      .banner h2{
        width: 100%;
      
      }
      
      .display-products{
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 11%;
      }
      
      .display-products h2{
        font-family: InriaSerif-Bold;
        margin-top: 7%;
        width: 100%;
      }
      
      .grid_product{
        width: 22%;
      }
      
      .display-products hr{
        width: 46%;
        margin-left: 0%;
        margin-top: 0%;
        border-color: black;
        border-width: 0.2px;
        margin-bottom: 3%;
      }
      /*Carroussel page accueil*/
      
      .grid_product{
        display: grid;
        width: 85%;
        grid-template-columns: 31% 31% 31% 31%;
        align-items: start;
        justify-content: space-between;
      }
      
      .container_product{
        display: block;
      
      }
      
      #slider_product{
        border-radius: 0.1875rem;
        background: #FFF;
        box-shadow: 1px 6px 8px 4px #F5F5E5;
        width: 75%;
        height: auto;
        flex-shrink: 0;
      }
      
      .slider_product{
        padding: 20px;
      }
      
      .wrapInfoPost{
        padding-top: 12%;
        padding-bottom: 12%;
        margin-top: 5%;
      }
      
      .wrapInfoPost h3{
        text-align: center;
        font-family: InriaSerif-Bold;
      }
      
      .wrapInfoPost p{
        text-align: center;
        padding-top: 1%;
        padding-bottom: 0;
        margin: 0;
        font-family: InriaSans-Light;
      
      }
      
      .wrapInfoPost img{
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      
      .ajout_panier{
        padding: 4%;
        background-color: #e8eadd;
        width: auto;
        padding-left: 27%;
        padding-right: 27%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-family: InriaSans-Light;
        font-size: 0.9rem;
      }
      
      
      /* NEWSLETTER */ 
      
      .newletter{
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 392px;
        margin-bottom: 11%;
        text-align: center;
        border-radius: 0.1875rem;
        background: #FFF;
        box-shadow: 1px 6px 8px 4px #F5F5E5;
      }
      
      .newletter h2{
        padding-top: 6%;
        font-family: InriaSerif-Bold;
        width: 100%!important;
      
      }
      
      .newletter p{
        padding: 0% 5% 0% 5%;
        font-family: InriaSans-Light;
      }
      
      .reduction{
        font-size: 4rem;
        padding-top: 0%!important;
        padding-bottom: 0%!important;
        margin: 0 0 0 0;
      }
      
      .newletter label {
        visibility: hidden;
      }
      
      .newletter input {
        float: left;
        margin-left: 10%;
        padding: 2%;
        padding-left: 29%;
        margin-top: 9px;
        border-color: black;
        margin-left: 17%;
      }
      
      .newletter button{
        padding: 2%;
        margin-top: -8px;
        display: flex;
        align-self: center;
        margin-right: 13%;
        background-color: #e8eadd;
        padding-left: 11%;
      }
      
      
      /* CAROUSEL AVIS ENDPAGE */
      
      
      .slider {
        height: 300px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
        -webkit-box-align: end;
        align-items: flex-end;
        -webkit-box-pack: center;
        justify-content: center;
      }
 
      
      .slider__inner {
        position: absolute;
        top: 0;
        width: 400%;
        height: 100%;
        transition: left 0.4s;
        display: flex;
        flex-flow: row nowrap;
      }
      
      .slider__contents {
        border-radius: 0.1875rem;
        background: #FFF;
        box-shadow: 1px 6px 8px 4px #F5F5E5;
        text-align: center;
        padding: 6%;
      }
      
      
      .slider__caption {
        font-weight: 500;
        margin: 0rem 0 3rem;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
      }
      
      .slider__txt {
        color: #999;
        margin-bottom: 1rem;
        margin-top: 0%;
        font-family: InriaSans-Light;
      
      }
      
      
      
      }
      
      @-webkit-keyframes check {
        50% {
          outline-color: #333;
          box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
        }
        100% {
          outline-color: #333;
          box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
        }
      }
      
      @keyframes check {
        50% {
          outline-color: #333;
          box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
        }
        100% {
          outline-color: #333;
          box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
        }
}

/* Styles pour les écrans de petite taille (mobile) */
@media screen and (max-width: 480px) {
/* NEWSLETTER */ 

.newletter{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 392px;
    margin-bottom: 11%;
    text-align: center;
    border-radius: 0.1875rem;
    background: #FFF;
    box-shadow: 1px 6px 8px 4px #F5F5E5;
  }
  
  .newletter h2{
    padding-top: 13%;
    font-family: InriaSerif-Bold;
  }
  
  .newletter p{
    padding: 0% 5% 0% 5%;
    font-family: InriaSans-Light;
  }
  
  .reduction{
    font-size: 4rem;
    padding-top: 9%!important;
    padding-bottom: 9%!important;
    margin: 0 0 0 0;
  }
  
  .newletter label {
    visibility: hidden;
  }
  
  .newletter input {
    float: left;
    margin-left: 8%;
    padding: 4%;
    margin-top: 7%;
  }
  
  .newletter button{
    padding: 4%;
    float: right;
    margin-top: 0%;
    display: flex;
    align-self: center;
    margin-right: 6%;
    background-color: #e8eadd;
  }
  
  /* AVIS ENDPAGE */
  .H2_avis{
    padding-left: 5%;
    font-family: InriaSerif-Bold;
  }
  
  .avis_HR{
    width: 46%;
    margin-left: 6%;
    margin-top: -1%;
    border-color: black;
    border-width: 0.2px;
    margin-bottom: 6%;
  }
  
  /* BANNER ENDPAGE */ 
  .banner{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 25%;
  }
  
  .banner p {
    font-family: InriaSans-Light;
  }
  
  .banner h2{
    font-family: InriaSerif-Bold;
  }
  
  
}
      


