@font-face {
    font-family: InriaSans-Light;
    src: url(../img/polices/InriaSans-Light.ttf);
}

@font-face {
    font-family: InriaSerif-Bold;
    src: url(../img/polices/InriaSerif-Bold.ttf);
}

body{
  margin: 0;
}

@media screen and (max-width: 1920px) {
/* Styles par défaut pour les écrans larges */

/*ACCUEIL*/
.imageDeFond {
  background-image: url("../img/accueil_web/chaussette_page_accueil_version_web_chaussetto.jpg");
  background-size: cover; 
  background-position: center; 
  min-height: 700px; 
  padding: 20px;
  
}

.landing h1{
  color: #000;
  text-align: center;
  font-family: Inria Serif;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase; 
  padding-top: 15%;
}

.landing h2 {
  color: #000;
  text-align: center;
  font-family: Inria Sans;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 1%;
}

.landing hr{
  width: 35%;
  border-color: #000;
}

.discovery_category{
  padding: 2%;
  background-color: #e8eadd;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 3%;
  margin-bottom: 3%;
  float: left; 
  width: 44%;
  margin-left: 3%; 

}

.discovery_category_basic{
  padding: 2%;
  background-color: #e8eadd;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 3%;
  margin-bottom: 3%;
  float: right;
  width: 44%;
  margin-right: 3%; 
}

.banner_index{
  width: auto;
  height: 81px;
  background-color: #cacbb9;
  margin-top: 0%;
  padding: 3%;
}

.banner_index p{
  color: #000;
  text-align: center;
  font-family: Inria Sans;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.banner h2{
  width: 100%;

}

.display-products{
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 11%;
}

.display-products h2{
  font-family: InriaSerif-Bold;
  margin-top: 7%;
  width: 100%;
}

.grid_product{
  width: 22%;
}

.display-products hr{
  width: 46%;
  margin-left: 0%;
  margin-top: 0%;
  border-color: black;
  border-width: 0.2px;
  margin-bottom: 3%;
}
/*Carroussel page accueil*/

.grid_product{
  display: grid;
  width: 85%;
  grid-template-columns: 31% 31% 31% 31%;
  align-items: start;
  justify-content: space-between;
}

.container_product{
  display: block;

}

#slider_product{
  border-radius: 0.1875rem;
  background: #FFF;
  box-shadow: 1px 6px 8px 4px #F5F5E5;
  width: 75%;
  height: auto;
  flex-shrink: 0;
}

.slider_product{
  padding: 20px;
}

.wrapInfoPost{
  padding-top: 12%;
  padding-bottom: 12%;
  margin-top: 5%;
}

.wrapInfoPost h3{
  text-align: center;
  font-family: InriaSerif-Bold;
}

.wrapInfoPost p{
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0;
  margin: 0;
  font-family: InriaSans-Light;

}

.wrapInfoPost img{
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ajout_panier{
  padding: 4%;
  background-color: #e8eadd;
  width: auto;
  padding-left: 27%;
  padding-right: 27%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: InriaSans-Light;
  font-size: 0.9rem;
}


/* NEWSLETTER */ 

.newletter{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 392px;
  margin-bottom: 11%;
  text-align: center;
  border-radius: 0.1875rem;
  background: #FFF;
  box-shadow: 1px 6px 8px 4px #F5F5E5;
}

.newletter h2{
  padding-top: 6%;
  font-family: InriaSerif-Bold;
  width: 100%!important;

}

.newletter p{
  padding: 0% 5% 0% 5%;
  font-family: InriaSans-Light;
}

.reduction{
  font-size: 4rem;
  padding-top: 0%!important;
  padding-bottom: 0%!important;
  margin: 0 0 0 0;
}

.newletter label {
  visibility: hidden;
}

.newletter input {
  float: left;
  margin-left: 10%;
  padding: 2%;
  padding-left: 29%;
  margin-top: 9px;
  border-color: black;
  margin-left: 17%;
}

.newletter button{
  padding: 2%;
  margin-top: -8px;
  display: flex;
  align-self: center;
  margin-right: 13%;
  background-color: #e8eadd;
  padding-left: 11%;
}


/* FOOTER */


.links-contact p{
  font-family: InriaSerif-Bold;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: #cacbb9;
  padding: 20px;
}

.text,
.links-menu,
.links-contact,
.up-footer {
  padding: 15px;
}

.links-menu ul {
  list-style: none;
  padding-left: 22%;
}

a:any-link {
  text-decoration: none!important;
  color: #000;
  font-family: InriaSans-Light;
  
}

.links-menu li {
  margin-bottom: 10px;
}

.links-contact h2{
  font-family: InriaSerif-Bold;
}

.links-contact div {
  margin-bottom: 6%;
}

.links-contact hr{
  display: none;
}
.up-footer a{
  float: inline-end;
}

.up-footer p{
  text-align: center;
}

/* CAROUSEL AVIS ENDPAGE */


.slider {
  height: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  justify-content: center;
}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 1rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  appearance: none;
  backface-visibility: hidden;
}

.slider__nav:checked {
  animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}

.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}

.slider__inner {
  position: absolute;
  top: 0;
  width: 400%;
  height: 100%;
  transition: left 0.4s;
  display: flex;
  flex-flow: row nowrap;
}

.slider__contents {
  height: 65%;
  padding: 2rem;
  text-align: center;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}


.slider__caption {
  font-weight: 500;
  margin: 0rem 0 3rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.slider__txt {
  color: #999;
  margin-bottom: 1rem;
  margin-top: 0%;
  font-family: InriaSans-Light;

}



}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}




/* Styles pour les écrans de petite taille (tablette) */
@media screen and (max-width: 1300px) {


#web-menu{
  width: 65%;
  float: right;
}

/* ACCUEIL */

.imageDeFond {
  background-image: url("../img/accueil_web/chaussette_page_accueil_version_web_chaussetto.jpg");
  background-size: cover; 
  background-position: center; 
  min-height: 700px; 
  padding: 20px;
  
}

/*Carroussel page accueil*/

.grid_product{
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  align-items: start;
  justify-content: space-between;
  padding-left: 6%;
}

.container_product{
  display: block;

}

#slider_product{
  border-radius: 0.1875rem;
  background: #FFF;
  box-shadow: 1px 6px 8px 4px #F5F5E5;
  width: 75%;
  height: auto;
  flex-shrink: 0;
}

.slider_product{
  padding: 20px;
}

.wrapInfoPost{
  padding-top: 12%;
  padding-bottom: 12%;
  margin-top: 5%;
}

.wrapInfoPost h3{
  text-align: center;
  font-family: InriaSerif-Bold;
}

.wrapInfoPost p{
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0;
  margin: 0;
  font-family: InriaSans-Light;

}

.wrapInfoPost img{
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ajout_panier{
  padding: 4%;
  background-color: #e8eadd;
  width: auto;
  padding-left: 20%;
  padding-right: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: InriaSans-Light;
  font-size: 0.9rem;
}

}

/* Styles pour les écrans de petite taille (mobile) */
@media screen and (max-width: 480px) {


  /* FOOTER */

  .footer-container {
    grid-template-columns: 1fr;
  }

  .up-footer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    background-color: #cacbb9;    
  }

  .links-contact,
  .text .links-menu {
    order: -1; 
  }
  
  .title_info{
    color: #000;
    font-size: 1rem;
    margin-top: 6%;
  }

  .desc_info{
    color: #000;
    font-family: InriaSans-Light !important;
    font-size: 1rem;
    border-radius: 1.375rem;
    border: 1px solid #000;
    width: auto !important;
    flex-shrink: 0;
    padding: 2%;
    text-align: center;
  }

.title_info_fb{
    color: #000;
    font-size: 1rem;
  }

.desc_info_fb{
  color: #000;
  font-family: InriaSans-Light !important;
  font-size: 1rem;
  border-radius: 1.375rem;
  border: 1px solid #000;
  width: auto !important;
  flex-shrink: 0;
  padding: 2%;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
  
.insta{
  margin-left: 2%;

}
.title_info_insta{
  color: #000;
  font-size: 1rem;  
}

.desc_info_insta{
  color: #000;
  font-family: InriaSans-Light !important;
  font-size: 1rem;
  border-radius: 1.375rem;
  border: 1px solid #000;
  width: auto !important;
  flex-shrink: 0;
  padding: 2%;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.reseau{
  text-align: center;

}


.info_email{
  text-align: center;
}



.up-footer p{
  padding-right: 12%;
}

/*ACCUEIL*/
.imageDeFond {
  background-image: url("../img/accueil_mobile/chaussetto_accueil.jpeg");
  background-size: cover; 
  background-position: center; 
  min-height: 800px; 
  padding: 20px;
  
}

.landing h1{
  color: #000;
  text-align: center;
  font-family: Inria Serif;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase; 
}

.landing h2 {
  color: #000;
  text-align: center;
  font-family: Inria Sans;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.banner_index{
  width: auto;
  height: 81px;
  background-color: #cacbb9;
  margin-top: -12%;
  padding: 3%;
}

.banner_index p{
  color: #000;
  text-align: center;
  font-family: Inria Sans;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.display-products{
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 11%;
}

.display-products h2{
  font-family: InriaSerif-Bold;
  margin-top: 14%;
  width: 100%;
}

.product_h2{
  font-family: InriaSerif-Bold;
  margin-top: 14%;
  width: 100%!important;

}

.display-products hr{
  width: 46%;
  margin-left: 6%;
  margin-top: -1%;
  border-color: black;
  border-width: 0.2px;
  margin-bottom: 6%;
}

/* ACCUEIL */
/*Carroussel page accueil*/

.grid_product{
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container_product{
  display: block;

}

#slider_product{
  border-radius: 0.1875rem;
  background: #FFF;
  box-shadow: 1px 6px 8px 4px #F5F5E5;
  width: 75%;
  height: auto;
  flex-shrink: 0;
}

.slider_product{
  padding: 20px;
}

.wrapInfoPost{
  padding-top: 12%;
  padding-bottom: 12%;
  margin-top: 5%;
}

.wrapInfoPost h3{
  text-align: center;
  font-family: InriaSerif-Bold;
}

.wrapInfoPost p{
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0;
  margin: 0;
  font-family: InriaSans-Light;

}

.wrapInfoPost img{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ajout_panier{
  padding: 4%;
  background-color: #e8eadd;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: InriaSans-Light;
  font-size: 0.9rem;
}

#discovery_category{
  margin-top: 20%;
  margin-bottom: 20%;
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.discovery_category{
  padding: 4%;
  background-color: #e8eadd;
  width: 340px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: 3%;
}

.discovery_category_basic{
  padding: 4%;
  background-color: #e8eadd;
  width: 340px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: 3%;
}

/* NEWSLETTER */ 

.newletter{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 392px;
  margin-bottom: 11%;
  text-align: center;
  border-radius: 0.1875rem;
  background: #FFF;
  box-shadow: 1px 6px 8px 4px #F5F5E5;
}

.newletter h2{
  padding-top: 13%;
  font-family: InriaSerif-Bold;
}

.newletter p{
  padding: 0% 5% 0% 5%;
  font-family: InriaSans-Light;
}

.reduction{
  font-size: 4rem;
  padding-top: 9%!important;
  padding-bottom: 9%!important;
  margin: 0 0 0 0;
}

.newletter label {
  visibility: hidden;
}

.newletter input {
  float: left;
  margin-left: 8%;
  padding: 4%;
  margin-top: 7%;
}

.newletter button{
  padding: 4%;
  float: right;
  margin-top: 0%;
  display: flex;
  align-self: center;
  margin-right: 6%;
  background-color: #e8eadd;
}

/* AVIS ENDPAGE */
.H2_avis{
  padding-left: 5%;
  font-family: InriaSerif-Bold;
}

.avis_HR{
  width: 46%;
  margin-left: 6%;
  margin-top: -1%;
  border-color: black;
  border-width: 0.2px;
  margin-bottom: 6%;
}

/* BANNER ENDPAGE */ 
.banner{
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 25%;
}

.banner p {
  font-family: InriaSans-Light;
}

.banner h2{
  font-family: InriaSerif-Bold;
}


}