

@media screen and (min-width: 1300px) {
  .endpage {
    margin-left: 5%;
    margin-right: 5%;
  }


  /* NEWSLETTER */ 

.newletter{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 392px;
  margin-bottom: 11%;
  text-align: center;
  border-radius: 0.1875rem;
  background: #FFF;
  box-shadow: 1px 6px 8px 4px #F5F5E5;
}

.newletter h2{
  padding-top: 6%;
  font-family: InriaSerif-Bold;
  width: 100%!important;

}

.newletter p{
  padding: 0% 5% 0% 5%;
  font-family: InriaSans-Light;
}

.reduction{
  font-size: 4rem;
  padding-top: 0%!important;
  padding-bottom: 0%!important;
  margin: 0 0 0 0;
}

.newletter label {
  visibility: hidden;
}

.newletter input {
  float: left;
  margin-left: 10%;
  padding: 2%;
  padding-left: 29%;
  margin-top: 9px;
  border-color: black;
  margin-left: 17%;
}

.newletter button{
  padding: 2%;
  margin-top: -8px;
  display: flex;
  align-self: center;
  margin-right: 13%;
  background-color: #e8eadd;
  padding-left: 11%;
}



  /* CAROUSEL AVIS ENDPAGE */

  .slider {
    height: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 4%;
  }

  .slider__nav {
    width: 12px;
    height: 12px;
    margin: 1rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    appearance: none;
    backface-visibility: hidden;
  }

  .slider__nav:checked {
    animation: check 0.4s linear forwards;
  }

  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }

  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }

  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
  }

  .slider__inner {
    position: absolute;
    top: 0;
    width: 400%;
    height: 100%;
    transition: left 0.4s;
    display: flex;
    flex-flow: row nowrap;
  }

  .slider__contents {
    height: 65%;
    padding: 2rem;
    text-align: center;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .slider__caption {
    font-weight: 500;
    margin: 0rem 0 3rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
  }

  .slider__txt {
    color: #999;
    margin-bottom: 1rem;
    margin-top: 0%;
    font-family: InriaSans-Light;
  }
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}


/* Styles pour les écrans de petite taille (mobile) */
@media screen and (max-width: 480px) {

 /* NEWSLETTER */ 

.newletter{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 392px;
  margin-bottom: 11%;
  text-align: center;
  border-radius: 0.1875rem;
  background: #FFF;
  box-shadow: 1px 6px 8px 4px #F5F5E5;
}

.newletter h2{
  padding-top: 13%;
  font-family: InriaSerif-Bold;
}

.newletter p{
  padding: 0% 5% 0% 5%;
  font-family: InriaSans-Light;
}

.reduction{
  font-size: 4rem;
  padding-top: 9%!important;
  padding-bottom: 9%!important;
  margin: 0 0 0 0;
}

.newletter label {
  visibility: hidden;
}

.newletter input {
  float: left;
  margin-left: 8%;
  padding: 4%;
  margin-top: 7%;
}

.newletter button{
  padding: 4%;
  float: right;
  margin-top: 0%;
  display: flex;
  align-self: center;
  margin-right: 6%;
  background-color: #e8eadd;
}


  /* BANNER ENDPAGE */
  .banner {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 25%;
  }

  .banner p {
    font-family: InriaSans-Light;
  }

  .banner h2 {
    font-family: InriaSerif-Bold;
  }

  /* AVIS ENDPAGE */
  .H2_avis {
    padding-left: 5%;
    font-family: InriaSerif-Bold;
  }

  .avis_HR {
    width: 46%;
    margin-left: 6%;
    margin-top: -1%;
    border-color: black;
    border-width: 0.2px;
    margin-bottom: 6%;
  }

  /* CAROUSEL AVIS ENDPAGE */

  .slider {
    height: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 4%;
  }

  .slider__nav {
    width: 12px;
    height: 12px;
    margin: 1rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    appearance: none;
    backface-visibility: hidden;
  }

  .slider__nav:checked {
    animation: check 0.4s linear forwards;
  }

  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }

  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }

  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
  }

  .slider__inner {
    position: absolute;
    top: 0;
    width: 400%;
    height: 100%;
    transition: left 0.4s;
    display: flex;
    flex-flow: row nowrap;
  }

  .slider__contents {
    height: 65%;
    padding: 2rem;
    text-align: center;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .slider__caption {
    font-weight: 500;
    margin: 0rem 0 3rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
  }

  .slider__txt {
    color: #999;
    margin-bottom: 1rem;
    margin-top: 0%;
    font-family: InriaSans-Light;
  }
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
