@font-face {
    font-family: InriaSans-Light;
    src: url(../img/polices/InriaSans-Light.ttf);
}

@font-face {
    font-family: InriaSerif-Bold;
    src: url(../img/polices/InriaSerif-Bold.ttf);
}

/* Styles par défaut pour les écrans larges */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5E5; 
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px; 
}



.web-menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding-right: 9px;
  padding-left: 4%;
  text-align: center;
}

.burger-icon {
  cursor: pointer;
  font-size: 24px; 
  display: none; 
}

.icons_connexion{
  width: 2.5%;
}

#icons_panier{
  width: 2.5%;
}

/* Styles pour les écrans de petite taille (mobile) */
@media screen and (max-width: 768px) {

  /* NAVIGATION */
  .header {
    justify-content: space-between;
    width: 100%;
    padding: 0 10px; 
  }

  .logo {
    order: -1; 
  }

  .burger-icon {
    display: block; 
  }

  #web-menu {
    display: none;
  }

  .burger-icon:hover + #web-menu,
  #web-menu:hover {
    display: flex; 
  }

  .web-menu {
    flex-direction: column;
    position: absolute;
    top: 60px; 
    left: 8px;
    right: 8px;
    background-color: #F5F5E5;
    padding: 10px;
  }

  .icons_connexion{
    width: 3%;
  }
  
  #icons_panier{
    width: 3%;
  }  

  /* FOOTER */

  
 
}