@font-face {
    font-family: InriaSans-Light;
    src: url(../img/polices/InriaSans-Light.ttf);
}

@font-face {
    font-family: InriaSerif-Bold;
    src: url(../img/polices/InriaSerif-Bold.ttf);
}

body{
  margin: 0;
}
/* Styles par défaut pour les écrans larges */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5E5; 
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px; 
}


.web-menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding-right: 9px;
  padding-left: 4%;
  text-align: center;
}

.burger-icon {
  cursor: pointer;
  font-size: 24px; 
  display: none; 
}

.icons_connexion{
  width: 2.5%;
}

#icons_panier{
  width: 2.5%;
}

/* FOOTER */


.links-contact p{
  font-family: InriaSerif-Bold;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: #F5F5E5;
  padding: 20px;
}

.text,
.links-menu,
.links-contact,
.up-footer {
  padding: 15px;
}

.links-menu ul {
  list-style: none;
  padding-left: 22%;
}

a:any-link {
  text-decoration: none!important;
  color: #000;
  font-family: InriaSans-Light;
  
}

.links-menu li {
  margin-bottom: 10px;
}

.links-contact h2{
  font-family: InriaSerif-Bold;
}

.links-contact div {
  margin-bottom: 6%;
}

.links-contact hr{
  display: none;
}
.up-footer a{
  float: inline-end;
}

.up-footer p{
  text-align: center;
}

/* CAROUSEL AVIS ENDPAGE */


.slider {
  height: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  justify-content: center;
}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  appearance: none;
  backface-visibility: hidden;
}

.slider__nav:checked {
  animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}

.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}

.slider__inner {
  position: absolute;
  top: 0;
  width: 400%;
  height: 100%;
  transition: left 0.4s;
  display: flex;
  flex-flow: row nowrap;
}

.slider__contents {
  height: 65%;
  padding: 2rem;
  text-align: center;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}


.slider__caption {
  font-weight: 500;
  margin: 0rem 0 3rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.slider__txt {
  color: #999;
  margin-bottom: 1rem;
  margin-top: 0%;
  max-width: 300px;
  font-family: InriaSans-Light;

}


@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}



/* Styles pour les écrans de petite taille (mobile) */
@media screen and (max-width: 768px) {

  /* NAVIGATION */
  .header {
    justify-content: space-between;
    width: 100%;
    padding: 0 10px; 
  }

  .logo {
    order: -1; 
  }

  .burger-icon {
    display: block; 
  }

  #web-menu {
    display: none;
  }

  .burger-icon:hover + #web-menu,
  #web-menu:hover {
    display: flex; 
  }

  .web-menu {
    flex-direction: column;
    position: absolute;
    top: 60px; 
    left: 8px;
    right: 8px;
    background-color: #F5F5E5;
    padding: 10px;
  }

  .icons_connexion{
    width: 3%;
  }
  
  #icons_panier{
    width: 3%;
  }  

  /* FOOTER */

  .footer-container {
    grid-template-columns: 1fr;
  }

  .up-footer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    background-color: #F5F5E5;    
  }

  .links-contact,
  .text .links-menu {
    order: -1; 
  }
  
  .title_info{
    color: #000;
    font-size: 1rem;
    margin-top: 6%;
  }

  .desc_info{
    color: #000;
    font-family: InriaSans-Light !important;
    font-size: 1rem;
    border-radius: 1.375rem;
    border: 1px solid #000;
    width: auto !important;
    flex-shrink: 0;
    padding: 2%;
    text-align: center;
  }

.title_info_fb{
    color: #000;
    font-size: 1rem;
  }

.desc_info_fb{
  color: #000;
  font-family: InriaSans-Light !important;
  font-size: 1rem;
  border-radius: 1.375rem;
  border: 1px solid #000;
  width: auto !important;
  flex-shrink: 0;
  padding: 2%;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
  
.insta{
  margin-left: 2%;

}
.title_info_insta{
  color: #000;
  font-size: 1rem;  
}

.desc_info_insta{
  color: #000;
  font-family: InriaSans-Light !important;
  font-size: 1rem;
  border-radius: 1.375rem;
  border: 1px solid #000;
  width: auto !important;
  flex-shrink: 0;
  padding: 2%;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.reseau{
  text-align: center;

}


.info_email{
  text-align: center;
}



.up-footer p{
  padding-right: 12%;
}

/* NEWSLETTER */ 

.newletter{
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  height: 392px;
  margin-bottom: 11%;
  text-align: center;
  border-radius: 0.1875rem;
  background: #FFF;
  box-shadow: 1px 6px 8px 4px #F5F5E5;
}

.newletter h2{
  padding-top: 13%;
  font-family: InriaSerif-Bold;
}

.newletter p{
  padding: 0% 3% 0% 3%;
  font-family: InriaSans-Light;
}

.reduction{
  font-size: 4rem;
  padding-top: 9%!important;
  padding-bottom: 9%!important;
  margin: 0 0 0 0;
}

.newletter label {
  visibility: hidden;
}

.newletter input {
  float: left;
  margin-left: 8%;
  padding: 4%;
  margin-top: 7%;
}

.newletter button{
  padding: 4%;
  float: right;
  margin-top: 0%;
  display: flex;
  align-self: center;
  margin-right: 6%;
  background-color: #FFF11D;
}

/* AVIS ENDPAGE */
.H2_avis{
  padding-left: 5%;
  font-family: InriaSerif-Bold;
}

.avis_HR{
  width: 46%;
  margin-left: 6%;
  margin-top: -1%;
  border-color: black;
  border-width: 0.2px;
  margin-bottom: 6%;
}

/* BANNER ENDPAGE */ 
.banner{
  padding-left: 5%;
  padding-right: 5%;
}

.banner p {
  font-family: InriaSans-Light;
}

.banner h2{
  font-family: InriaSerif-Bold;
}

}