:root {
  --shadow-color: #F5F5E5;
  --button-bg-color: #e8eadd;
  --banner-bg-color: #cacbb9;
  --yellow: #FFF11D;
  --kaki: #F5F5E5;
}

@font-face {
  font-family: "InriaSans-Light";
  src: url(../fonts/Inria_Sans/InriaSans-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "InriaSans-Light";
  src: url(../fonts/Inria_Sans/InriaSans-LightItalic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "InriaSerif-Bold";
  src: url(../fonts/Inria_Serif/InriaSerif-Bold.ttf);
  font-style: normal;
}

@font-face {
  font-family: "InriaSerif-Bold";
  src: url(../fonts/Inria_Serif/InriaSerif-BoldItalic.ttf);
  font-style: italic;
}

body{
  margin: 0;
  font-family: 'InriaSans-Light', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'InriaSerif-Bold', Georgia, 'Times New Roman', Times, serif;
}

.flash-message {
  width: 80%;
  padding: 1em;
  position: absolute;
  background-color: aliceblue;
  margin-left: 10%;
}

.flash-message:hover {
  cursor: pointer;
}

.flash-warning {
  background-color: darkkhaki;
}

.flash-success {
  background-color: darkseagreen;
}

.flash-danger {
  background-color: darkorange;
}

button {
  border: none;
  background-color: var(--yellow);
  border-radius: 4px;
  padding: 0.5em;
}

button:hover {
  cursor: pointer;
}