{% block endpage %}

<<<<<<< HEAD
{% block stylesheets %}
    <link href="{{ asset('styles/endpage.css') }}" rel="stylesheet" />
{% endblock %}

=======
	{% block additionalStyles %}
		{# 'app' must match the first argument to addEntry() in webpack.config.js #}
		<link
		href="{{ asset('./styles/endpage.css') }}" rel="stylesheet"/>
	<!-- Renders a link tag (if your module requires any CSS)
	    <link rel="stylesheet" href="/build/app.css"> -->
	{% endblock %}

	<section class="endpage">
		<div class="banner">
			<h2>Entreprise familiale depuis 1984 basé a montpellier
			</h2>
			<p>Fondée en 1984 par Katie Eida, notre entreprise a débuté comme un modeste rêve dans le cœur d'une famille déterminée.
				        Au fil des décennies, nous avons grandi et évolué, mais notre engagement envers l'excellence, la qualité et le service est resté inchangé.
				        Ce que nous faisons va au-delà de la simple transaction commerciale.
				        Nous sommes fiers de créer des liens durables avec nos clients, en offrant des produits qui reflètent notre dévouement à l'artisanat et à la satisfaction de nos clients.
				        Chaque produit que nous proposons porte l'héritage de notre savoir-faire familial et l'engagement indéfectible envers la qualité.
			</p>
			<img/>
		</div>

>>>>>>> maylis

		<h2 class="H2_avis">VOS AVIS CHAUSSETTO</h2>
		<hr class="avis_HR">
		<div class="slider">
			<input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
			<input type="radio" name="slider" title="slide2" class="slider__nav"/>
			<input type="radio" name="slider" title="slide3" class="slider__nav"/>
			<input type="radio" name="slider" title="slide4" class="slider__nav"/>

			<div class="slider__inner">

				<div class="slider__contents">
					<img id="icons_avis" src="/images/icons/evaluation.png">
					<p class="slider__txt">La gamme de produits est diversifiée
						             et propose des options pour tous les goûts.
						             J'ai été particulièrement impressionné par
						             la durabilité et le design unique des articles
						             que j'ai achetés. Les chaussettes que j'ai commandées
						             étaient non seulement élégantes, mais aussi incroyablement
						             confortables.
					</p>
					<p class="slider__caption">LILYA</p>
				</div>

				<div class="slider__contents">
					<img id="icons_avis" src="/images/icons/evaluation.png">
					<p class="slider__txt">La sélection de produits est variée, offrant des choix pour tous les goûts. J'ai été particulièrement séduit par la qualité durable et le design exceptionnel des articles que j'ai achetés. Les chaussettes que j'ai reçues étaient à la fois élégantes et remarquablement confortables.</p>
					<p class="slider__caption">PAUL</p>

				</div>

				<div class="slider__contents">
					<img id="icons_avis" src="/images/icons/evaluation.png">
					<p class="slider__txt">Les produits disponibles couvrent un large éventail, offrant des options adaptées à tous les préférences. Ce qui m'a vraiment marqué, c'est la durabilité exceptionnelle et le design unique des articles que j'ai choisis. Les chaussettes que j'ai commandées étaient à la fois élégantes et incroyablement confortables.</p>
					<p class="slider__caption">SARA</p>

				</div>

				<div class="slider__contents">
					<img id="icons_avis" src="/img/icons/evaluation.png">
					<p class="slider__txt">La diversité de la gamme de produits répond à tous les goûts possibles. J'ai été particulièrement impressionné par la solidité et le design distinctif des articles que j'ai sélectionnés. Les chaussettes que j'ai reçues étaient non seulement élégantes, mais aussi d'une confortabilité exceptionnelle</p>
					<p class="slider__caption">LIVIA</p>
				</div>
			</div>
		</div>


		<div class="newletter">
			<h2>NEWSLETTER</h2>
			<p>
				Abonné vous pour recevoir une remise poncutuelle de
			</p>
			<p class="reduction">
				20%
			</p>
			{% if newsform is defined %}
				{{ form(newsform) }}
					{% else %}
						Formulaire indéfini
				{% endif %}
				<div></section>
			{% endblock %}
