{% block endpage %}
    <div class="banner">
        <h2>entreprise familiale depuis 1984 basé a montpellier </h2>
        <p>Fondée en 1984 par Katie Eida, notre entreprise a débuté comme un modeste rêve dans le cœur d'une famille déterminée. 
        Au fil des décennies, nous avons grandi et évolué, mais notre engagement envers l'excellence, la qualité et le service est resté inchangé.
        Ce que nous faisons va au-delà de la simple transaction commerciale. 
        Nous sommes fiers de créer des liens durables avec nos clients, en offrant des produits qui reflètent notre dévouement à l'artisanat et à la satisfaction de nos clients. 
        Chaque produit que nous proposons porte l'héritage de notre savoir-faire familial et l'engagement indéfectible envers la qualité.
        </p>
        <img/>
    </div>
    <div class="display-cards">
            <h2>VOS AVIS CHAUSSETTO</h2>
        <blockquote cite="">
            <img/>
            <p>La gamme de produits est diversifiée
             et propose des options pour tous les goûts. 
             J'ai été particulièrement impressionné par 
             la durabilité et le design unique des articles 
             que j'ai achetés. Les chaussettes que j'ai commandées 
             étaient non seulement élégantes, mais aussi incroyablement 
             confortables. 
             </p>
             <hr class="line">
             <p>LILYA</p>
        </blockquote>       
    </div>
    <div class="newletter">
        <h2>NEWSLETTER</h2>
        {% if newsform is defined %}
            {{ form(newsform) }}
        {% else %}
            Formulaire indéfini
        {% endif %}
    <div>
{% endblock %}