{% block additionalStyles %}
	<link href="{{ asset('./styles/footer.css') }}" rel="stylesheet"/>
{% endblock %}

{% block footer %}
    <div class="footer-container">
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed ornare cursus sed nunc eget dictum  Sed ornare cursus 
            sed nunc eget dictumd nunc eget dictum  Sed ornare cursus 
            sed nunc eget dictum  </p>
        </div>
        <div class="links-menu">
            <ul>
                <li><a href="{{ path('app_categorie', {'category': 'basiques'},) }}">> CHAUSSETTES BASIQUES</a></li>
                <li><a href="{{ path('app_categorie', {'category': 'originales'}) }}">> CHAUSSETTES ORIGINALES</a></li>
                <li><a href="">> CONTACT</a></li>
                <li><a href="">> MENTIONS LEGALES</a></li>
                <li><a href="">> CONDITIONS GÉNÉRALES DE VENTES</a></li>
            </ul>
        </div>
        <div class="links-contact">
            <h2>PRISE DE CONTACT</h2>
            <p>les chaussettes qui vous réchauffent le coeur... et les pieds</p>
                <div class="info"> 
                    <p class="title_info">TELEPHONE</p>
                    <p class="desc_info">06 45 67 87 32</p>
                </div>
                <div class="info_email">
                    <p class="title_info">EMAIL</p>
                    <a href=""><button class="desc_info" >contact@chaussetto.com</button></a>
                </div>
                <section class="reseau">
                <div class="info_reseau">
                    <p class="title_info_fb">Facebook</p>
                    <a href=""><button class="desc_info_fb" >chaussetto</button></a>
                </div>
                <div class="insta">
                    <p class="title_info_insta">Instagram</p>
                    <a href=""><button class="desc_info_insta" >chaussetto</button></a>
                </div>
                </section>
        </div>
        </div>

        <div class="up-footer">
            <p>&#169; CHAUSSETTO - 2023</p>
            <a href=""><button>HAUT DE PAGE</button></a>
        </div>
    

{% endblock %}