{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div>
        <title>HISTORIQUE DE VOS COMMANDES</title>
    </div>


{% endblock %}

 {% block footer %}{% endblock %}
